.DS_Store
Thumbs.db
*.log

__pycache__/
*.py[cod]
*$py.class

¡venv/
.venv/
env/
env.bak/
*.env
*/.env
*.env.*

build/
dist/
*.egg-info/

.pytest_cache/

node_modules/
frontend/build/
frontend/dist/

*.local
*.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-error.log*
yarn-debug.log*
package-lock.json
yarn.lock

docker-compose.override.yml
**/docker-compose.*.local.yml

.vscode/
._*
*.mdb
